.button{
    background: #007AFF;
    border-radius: 8px;
    padding: 14px 16px;
    color: white;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    margin-bottom: 23px;
}
.button:hover{
    cursor: pointer;
}