.color-cell{
    width: 54px;
    height: 54px;
    border-radius: 5px;
}
.color-cell:hover{
    cursor: pointer;
}
.color{
    margin-right: 25px;
    margin-bottom: 25px;
    padding-top: 8px;
    padding-right: 8px;
    position: relative;
    height: 62px;
}
.colors-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.picker-wrap{
    position: absolute;
    z-index: 2;
}
.delete{
    display: none;
    width: 17px;
    height: 17px;
    background-image: url("../../images/close.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}
.color:hover .delete{
    display: block;
}
.color:hover .delete:hover{
    cursor: pointer;
}